body{
    background-color: #a59d9d;
    overflow-x: hidden;
    
}
body{
    margin: 0px;
    padding: 0px;
}
.ubrand{
    height: 100%;
    width: 70%;
}


label{
    color: rgb(94, 16, 139);
    font-weight: bold;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .Mark{
    position: absolute;
    height: 10 px;
    top: 300px;
    left: 90px;
    font-weight: bold;
}

.sub{
    background-color: blueviolet;
    color: cornsilk;
}

.custnav{
    background-color: #7952B3;
    color: cornsilk;
}
footer{
    margin: 3%;
    color: whitesmoke;
    width: 90%;
    height: 25%;
    position: absolute;
    background-color: #9166d3;
}

.form-group{
    width: 60%;
    margin: 3%;
}

.in{
    position: relative;
    left: 40%;
    color :whitesmoke

}
.you{
    position: relative;
    left: 45%;
    color :whitesmoke

}
.about{
    color: whitesmoke;
    font-weight: bold;
    margin-left: 1%;
  
}

.contact{
    color: whitesmoke;
    font-weight: bold;
    margin-left: 10%;
   
}
.conform{
    height: 25%;
    width: 50%;
}
.tube{
    justify-content: center;
    padding-left: 20%;
    padding-top: 5%;

}
li{
    font-weight: bold;
    padding-left: 60%;
}