body{
    background-color: #f7f7f7;
}
.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  #nb{
	background-color:  #7952B3;
	height: 150px;
    color:  rgb(229, 233, 235);
}
  
.Mark{
    position: absolute;
    height: 200 px;
    top: 200px;
    left: 90px;
    font-weight: bold;
}

label{
    color: rgb(94, 16, 139);
}
.container-bottom{
	
	background-color: #66bfbf;
	padding: 50px 0 30px;	
	width: 1283px;
}

.sub{
    position: relative;
    left: 500px;
    background-color: blueviolet;
    color: cornsilk;
}

.footer{
    background-color: darkgreen;
    width : 100%;
}

.nav-link{
    color: whitesmoke;
}

footer{
    position: absolute;
    background-color: #9166d3;
    height: 210px;
    width: 1100px;
    left: .5px;
}
#main_nav{
    color: coral;
}

.in{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

h5{
    color: whitesmoke;
    text-align: center;
    left: 250px;
    padding-top: 5px;
}

.about{
    color: whitesmoke;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}
 .contact{
     color: whitesmoke;
     padding-left: 150px;
     padding-top: 5px;
     font-weight: bold;
 }

 .kids{
     width: 1100px;
     height: 800px;
 }

 .res{
     top : 500px;
     justify-content: center;
 }

 .bluree{
     filter: blur(5px);
 }
 .you{
     position: relative;
     left: 650px;
     bottom: 65px;
     color: whitesmoke;
 }
 .abtli{
     position: relative;
     justify-content: center;
     left: 200px;
 }

 .mar{
     top: 300px;
 }

 .foot{
     top: 700px;
 }